* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box; /* to make the padding and border included in the width and height */
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #08001f, #30197f);
  color: #fff;
  position: relative;
}

.container {
  width: 800px;
  min-height: 180px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container::before {
  content: "";
  width: 180px;
  height: 180px;
  background-color: #f41b75;
  border-radius: 5px;
  position: absolute;
  left: -50px;
  top: -50px;
  z-index: -1;
}
.container::after {
  content: "";
  width: 180px;
  height: 180px;
  background-color: #419aff;
  border-radius: 50%;
  position: absolute;
  right: -30px;
  bottom: -50px;
  z-index: -1;
}

.clock {
  width: 100%;
  height: 180px;
  background-color: rgba(235, 0, 255, 0.11);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(40px);
}

.clock span {
  font-size: 80px;
  width: 110px;
  display: inline-block;
  text-align: center;
  position: relative;
}

.clock span::after {
  font-size: 16px;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

#hrs::after {
  content: "HOURS";
}

#min::after {
  content: "MINS";
}

#sec::after {
  content: "SEC";
}

.stopwatch-container {
  margin-top: 30px;
  width: 100%;
  text-align: center;
  background-color: rgba(235, 0, 255, 0.11);
  border-radius: 10px;
  padding: 20px;
  backdrop-filter: blur(40px);
}

.stopwatch {
  font-size: 50px;
  margin-bottom: 15px;
}

.buttons button {
  background: #fff;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  margin: 0 5px;
  transition: 0.3s;
}

.buttons button:hover {
  background: #f41b75;
  color: white;
}
